@charset "UTF-8";
@import url("https://fonts.google.com/specimen/Spartan");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Spartan", Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
}

h1 {
  font-weight: 700;
  font-size:36px;
  width: 50%;
  color: #502050;
}
h2 {
  color: #502050;
  font-weight: 700;
  font-size: 15px;
}
h3 {
  color: #fff;
  font-weight: 300px;
  font-size: 15px;
  margin: 0 0 5px 0;
}
h4 {
  margin: 0;
  color: #ee68a4;
  font-weight: 400;
}

p {
  font-weight: 400;
}

.promo-text {
  width:75%;
  margin-top:0;
  color: #937b92;
}

.pic {
  height: 40px;
  border-radius: 50%;

}

.img-pic {
  padding-right: 20px;
}

.wrapper {
  margin: 0 auto;
  height: 100vh;
  display: grid;
  grid-template-columns:repeat(5, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 5%;
}
.row-1 {
  margin: 40px 0;
  grid-column: 2/5;
  grid-row: 2/3;
  display: grid;
}
.row-2 {
  grid-column: 2/5;
  grid-row: 3/4;
  display: grid;
  grid-column-gap: 2%; 
}

.col-1-1 {
  grid-column: 1/2;
  display: flex;
  flex-direction:column;
  justify-content: center;
}
.col-1-2 {
  grid-column: 2/3;
}
.col-2-1 {
  grid-column: 1/2;
}
.col-2-2 {
  grid-column: 2/3;
}
.col-2-3 {
  grid-column: 3/4;
}

.row-stars {
  display:flex;
  border-radius: 10px;
  margin-top:20px;
  padding:10px;
  width:450px;
  background-color: #f7f2f7;
}
.row-stars-2 {
  margin-left:40px;
}
.row-stars-3 {
  margin-left:80px;
}
.col-stars {
  margin: 12.45px 20px;
}

.col-testimonials {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 30px;
  color:#fff;
  background-color: #502050;
}

.testimonials-2 {
  margin-top: 20px;
}

.testimonials-3 {
  margin-top: 40px;
}